---
import RootLayout from "../layouts/root.astro"

import Email from "../components/email-icon.astro"
import GitHub from "../components/github-icon.astro"
import LinkedIn from "../components/linkedin-icon.astro"
import Telegram from "../components/telegram-icon.astro"
import WhatsApp from '../components/whatsapp-icon.astro'



const socials = [
  { title: "Email", href: "mailto:mykhailo.toporkov@gmail.com", icon: Email },
  { title: "LinkedIn", href: "https://www.linkedin.com/in/mykhailo-toporkov/", icon: LinkedIn },
  { title: "GitHub", href: "https://github.com/cookieMonsterDev", icon: GitHub },
  { title: "Telegram", href: "https://t.me/Mykhailo_Toporkov", icon: Telegram },
  { title: "Telegram", href: "https://wa.me/380960503348", icon: WhatsApp },
];
---

<RootLayout>
	<fieldset class="pt-1 pb-4 px-4 border rounded-md">
		<legend class="mb-2 px-2 text-2xl text-muted-foreground font-bold">Mykhailo Toporkov</legend>
		<div class="grid gap-4 grid-cols-3">
		
			<fieldset id="about" class="h-fit pt-2 pb-4 px-4 border border-secondary rounded-md col-span-3 md:col-span-2">
				<legend class="px-2 text-lg font-semibold">About</legend>
				<p class="text-muted-foreground font-semibold">
					Hi! I'm Mykhailo. I have over 3+ years of experience in the IT sphere. My journey began as a mere QA
					engineer, and now I can proudly call myself a Full-stack Developer. My experience speaks for itself; I
					have knowledge not only about developing products but also about testing them, which is a
					significant advantage. I believe this background helps me make fewer bugs, or at least I hope so!
					Throughout these years, I have worked with many technologies, some of which are listed below. My
					main plan for the future is to continue growing and developing myself further as a developer. I hope
					this small introduction helps you get to know me better.
				</p>
			</fieldset>
	

			<fieldset class="pt-1 pb-3 px-2 border rounded-md col-span-3 md:col-span-1">
				<legend class="px-2 text-lg font-semibold">Socials</legend>
					<ul class="flex flex-wrap flex-row pl-0 gap-3 md:pl-2 md:flex-col">
						{socials.map(item => (
							<li>
								<a 
									target="_blank"
									href={item.href} 
									title={item.title} 
									class="group flex gap-2"
									>
									<item.icon />
									<span class="hidden md:block g">{item.title}</span>
								</a>
							</li>
						))}
					</ul>
			</fieldset>

		</div>
	</fieldset>
</RootLayout>


