---
  const { title = "Mykhailo Toporkov" } = Astro.props;
---

<html lang="en" class="text-foreground">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body class="w-screen min-h-screen bg-brown-1">
    <main class="container h-full p-4 md:py-8 md:px-0">
      <slot />
    </main>
  </body>
</html>
</html>